/* For the whole body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
    background-image: url(bg1.jpeg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Nav bar section css  */
.heading-text {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding-top: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    gap: 0.2rem;
}

.logo-icon {
    height: 4.5rem;
    width: 4rem;

}

/* Login section css */

.sign_up {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    padding-bottom: 1rem;
    width: 400px;
    text-align: center;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
}

.options {
    margin-top: 0.5rem;
    margin-right: 0.1rem;
}

/*Used for Text for input type*/
.email,
.password,
.cpassword,
.fname,
.lname {
    text-align: left;
    font-size: 15px;
    padding-bottom: 0.1rem;
}

.login {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*Bottom signin*/
#sign_in {
    color: rgb(28, 190, 80);
    cursor: pointer;
    font-size: small;
    float: right;
    text-decoration: none;
}


/*Bottom signin Hover*/
#sign_in:hover {
    color: #467210;
}

.submit {
    background-color: #24a42a;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
}

.submit:hover {
    background-color: #16891c;
}